@media (max-width: 960px){
    :root{
        --space-default: 30px;
    }

main{
    grid-template-columns: 1fr;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
}
.logo{
    font-size: 2rem;
    width: 50%;
}

.logo::after{
    font-size: 2.5rem;

}
.logo::before{
    font-size: 2.5rem;
}


.menu{
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    gap: 25px;}

.home{
    display: flex;
    flex-direction: column;    
    align-items: center;
    
}
.home__text{
    display: flex;
    justify-content: center;
    justify-content: center;
    font-size: 25px;
}
.home__name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-mim{
    display: flex;
    height: 30%;
    flex-direction: column;
   
    
}
.section-title{
    font-size: clamp(2rem,18vw,14rem);  
}

.description__title{
    display: flex;
    justify-content: center;
    font-size: 5rem;
}
.description__text{
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
}
.skills__title{
    font-size: 5rem;
}
.skills__icons{
    display: flex;
    flex-direction: row;
    place-content: center;
    flex-wrap: wrap;
    padding: 17%;
    padding-top: 0%;

}
.projetos{
    display: flex;
    padding: 0%;
    height: 30%;
    flex-direction: column;
}
.card-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.section-title-contato{
    font-size: clamp(2rem,18vw,14rem);
}
.contatos{
    display: flex;
    height: 25%;
    flex-direction: column;
}
.contato-container{
    font-size: 25px;
}
.contato-title{
    font-size: 30px;
}
.social-container{
    font-size: 30px;
}

.link-container{
    font-size: 1.5rem;
    gap: 25px;
    padding: 0%;
    height: 35%;
}

footer{
    font-size: 25px;
}

}
@media (max-width: 640px ){
    :root{
        --space-default: 30px;
    }
header{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
}
    .logo{
    font-size: 18px;
    width: 150px;
    }
    .logo::before{
        font-size: 18px;
    }

    .logo::after{
        font-size: 18px;
    }

    .menu{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 10px;
    gap: 8px;}

    .home__text{
        display: flex;
        justify-content: center;
        justify-content: center;
        font-size: 25px;
    }
    .home__name{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre-mim{
            display: flex;
            flex-direction: column;
    }

    .description{
        gap: 5px;
    }

    .description__title {
        display: flex;
        justify-content: center;
        font-size: 4rem;
    }

    .description__text{
        font-size: 20px;
    }

    .skills__title {
        font-size: 4rem;
    }

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
    }

    .skills__icons{
        display: flex;
        flex-direction: row;
        place-content: center;
        flex-wrap: wrap;
        padding: 5%;
        padding-top: 0%;
    
    }

    .projetos{
        display: flex;
        height: 35%;
        flex-direction: column;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .card{
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .contatos {
        display: flex;
        flex-direction: column;
    }

    .contato-container{
        font-size: 1rem;
    }

    .contato-title{
        font-size: 2.5rem;
    }
    .link-container{
        font-size: 20px;
        height: 40%;
        gap: 30px;
    }
    .link-title{
        font-size: 2.5rem;
    }

    .social-container{
        display: flex;
        font-size: 1.5rem;
        gap: 20px;
    }

    footer{
        font-size: 12px;
    }

}